---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MiniRadio app</title>
	</head>
	<body>
		<h1>Mini Radio</h1>
		<h2>Una radio android simple, rápida y sin anuncios</h2>
	</body>
</html>
